<% if notice %>
	<p class="alert alert-success" id="notice"><%= notice %></p>
<% end %>

<%= content_for :title do %>
	<h4 style="margin:0px;">Proje Listesi</h4>
<% end %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Proje Adı</th>
      <th>Proje Özeti</th>
      <th>Kavramlar</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_projes.each do |admin_proje| %>
      <tr>
        <td><%= admin_proje.projeadi %></td>
        <td><%= admin_proje.projeaciklama.truncate(500).html_safe %></td>
        <td><%= admin_proje.kavram.truncate(500).html_safe %></td>
        <td><%= link_to 'Görüntüle', admin_proje %></td>
        <td><%= link_to 'Düzenle', edit_admin_proje_path(admin_proje) %></td>
        <td><%= link_to 'Sil', admin_proje, method: :delete, data: { confirm: 'Silmek istediğinize eminmisiniz?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
