<%= form_with(model: admin_fotogaleri, local: true) do |form| %>
  <% if admin_fotogaleri.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(admin_fotogaleri.errors.count, "error") %> prohibited this admin_fotogaleri from being saved:</h2>

      <ul>
      <% admin_fotogaleri.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
	
	<table class="table table-striped">
		<tr>
			<td><strong>Resim Başlığı:</strong></td>
			<td><%= form.text_field :baslik, id: :admin_fotogaleri_baslik, class:"form-control" %></td>
		</tr>
		<tr>
			<td><strong>Resim:</strong></td>
			<% if @admin_fotogaleri.resim.exists? %>
				<td><%= image_tag @admin_fotogaleri.resim.url(:thumb) %><br/>
			<% else %>			
				<td><%= form.file_field :resim, id: :admin_deneme_resim, class: "form-control" %></td>
			<% end %>
		</tr>
		<tr>
			<td colspan=2><%= form.submit :Kaydet,  class: "btn btn-primary btn-block" %></td>
		</tr>	
	</table>
<% end %>
