<% @tur = {0 => "Duyuru", 1 => "Haber"} %>

<% if notice %>
	<p class="alert alert-success" id="notice"><%= notice %></p>
<% end %>

<%= content_for :title do %>
	<h4 style="margin:0px;">Duyuru/Haber Görüntüle</h4>
<% end %>

<table class="table table-striped">
	<tr>
		<td><strong>Açıklama Türü:</strong></td>
		<td><%= @tur[@admin_duyuru.tur] %></td>
	</tr>
	<tr>
		<td><strong>Açıklama:</strong></td>
		<td><%= @admin_duyuru.aciklama.html_safe %></td>
	</tr>
</table>
<%= link_to "Duyuru/Haber Listesine Geri Git", admin_duyurus_path %>
