<h4 id="materyal" style="margin-top: 0px; margin-bottom:10px;"><%= Admin::Unite.find(params[:unite_id]).uniteadi %> Denemeleri</h4>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle"
     style="display:block"
     data-ad-format="fluid"
     data-ad-layout-key="-ff+65+3r-j9+lw"
     data-ad-client="ca-pub-2249671089197790"
     data-ad-slot="1687828958"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<br>	
<% @materyal.each_with_index do |m,i| %>
<table class="table table-striped">
  <tr style="border-bottom:1px solid #dddddd; border-left:1px solid #dddddd; border-right:1px solid #dddddd">
    <td rowspan= 5 style="vertical-align: middle; text-align: center;width: 25%"><%= m.materyaladi %></td>
    <td><%= m.sinif %>. Sınıf</td>
  </tr>
  <tr style="border-right:1px solid #dddddd">
    <td><%= m.created_at.to_s.split(" ")[0].split("-")[2] + "-" + m.created_at.to_s.split(" ")[0].split("-")[1] + "-" + m.created_at.to_s.split(" ")[0].split("-")[0] %></td>
  </tr>
  <tr style="border-right:1px solid #dddddd">
    <td><%= Admin::Unite.find(m.unite_id).uniteadi %></td>
  </tr>
  <tr style="border-right:1px solid #dddddd">
    <td><%= m.materyalaciklama.html_safe %></td>
  </tr>
  <tr style="border-bottom:1px solid #dddddd; border-right:1px solid #dddddd">
    <td>
    <%= link_to "Denemeyi Görüntüle", controller: "ogrenci", action:"deneme_incele", id: m.id, unite_id: m.unite_id %></td>
  </tr>
</table>
<% end %>
