<script charset="utf-8">
function goruntuleme() {
 <% toplamgoruntuleme(@materyal) %> 
}
</script>
<script charset="utf-8">
lightGallery(document.getElementById('animated-thumbnials'), {
    thumbnail:true,
    animateThumb: false,
    showThumbByDefault: false
}); 
</script>
<table class="table table-striped" id="materyal">
  <tr>
    <td><strong>Sınıf:</strong></td>
    <td><%= @materyal.sinif %></td>
  </tr>
  <tr>
    <td><strong>Ünite:</strong></td>
    <td><%= Admin::Unite.find(@materyal.unite_id).uniteadi %></td>
  </tr>
  <tr>
    <td><strong>Deneme Adı:</strong></td>
    <td><%= @materyal.materyaladi %></td>
  </tr>
  <tr>
    <td><strong>Açıklama:</strong></td>
    <td><%= @materyal.materyalaciklama.html_safe %></td>
  </tr>
  <tr>
    <td><strong>Deneme Görüntüleme Sayısı:</strong></td>
    <td><%= @materyal.sayac %></td>
  </tr>
  <tr>
    <td colspan=2>
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <ins class="adsbygoogle"
          style="display:block"
          data-ad-format="fluid"
          data-ad-layout-key="-fg+5s+5d-ec+6s"
          data-ad-client="ca-pub-2249671089197790"
          data-ad-slot="6946289830"></ins>
      <script>
          (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
    </td>
  </tr>
  <tr>
    <td><strong>Deneme Resimleri:</strong></td>
    <td>Resim büyütmek için üzerine tıklayınız.</td>
  </tr>
  <tr>
    <td colspan=2>
      <% @imagelist.first(4).each do |i| %>
        <div class="col-md-6" id="animated-thumbnials">
        <%= link_to File.dirname(@materyal.dosya.url) + "/" + i do %>
          <%= image_tag File.dirname(@materyal.dosya.url) + "/" + i, width: "100%"%>
        <% end %>
        </div>
      <% end %>
    </td>
  </tr>
  <tr>
    <td><strong>Deneme Resimlerini İndirin:</strong></td>
    <td>
      <% @imagelist.each_with_index do |r, i| %>
        <%= link_to "| Resim-" + (i + 1).to_s + " |", File.dirname(@materyal.dosya.url) + "/" + r %>
      <% end %>
    </td>
  </tr>
  <tr>
    <td colspan=2>
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <ins class="adsbygoogle"
          style="display:block"
          data-ad-format="fluid"
          data-ad-layout-key="-fg+5s+5d-ec+6s"
          data-ad-client="ca-pub-2249671089197790"
          data-ad-slot="6946289830"></ins>
      <script>
          (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
    </td>
  </tr>
  <tr>
    <td><strong>Denemenin Orjinal Halini İndirin:</strong></td>
    <td><%= link_to "Deneme Dosyasını İndir", @materyal.dosya.url %></td>
  </tr>
  <tr>
    <td colspan=2><br><br><%= render 'disqus' %></td>
  </tr>  
</table>
