<%= content_for :pagetitle do %>
	FenBahçem Gnderin Yayınlayalım
<% end %>

<script>

// Activate Next Step

$(document).ready(function() {
    
    var navListItems = $('ul.setup-panel li a'),
        allWells = $('.setup-content');

    allWells.hide();

    navListItems.click(function(e)
    {
        e.preventDefault();
        var $target = $($(this).attr('href')),
            $item = $(this).closest('li');
        
        if (!$item.hasClass('disabled')) {
            navListItems.closest('li').removeClass('active');
            $item.addClass('active');
            allWells.hide();
            $target.show();
        }
    });
    
    $('ul.setup-panel li.active a').trigger('click');
    
    // DEMO ONLY //
    $('#activate-step-2').on('click', function(e) {
        $('ul.setup-panel li:eq(1)').removeClass('disabled');
        $('ul.setup-panel li a[href="#step-2"]').trigger('click');
        $(this).remove();
    })
    
    $('#activate-step-3').on('click', function(e) {
        $('ul.setup-panel li:eq(2)').removeClass('disabled');
        $('ul.setup-panel li a[href="#step-3"]').trigger('click');
        $(this).remove();
    })
    
    $('#activate-step-4').on('click', function(e) {
        $('ul.setup-panel li:eq(3)').removeClass('disabled');
        $('ul.setup-panel li a[href="#step-4"]').trigger('click');
        $(this).remove();
    })
    
    $('#activate-step-3').on('click', function(e) {
        $('ul.setup-panel li:eq(2)').removeClass('disabled');
        $('ul.setup-panel li a[href="#step-3"]').trigger('click');
        $(this).remove();
    })
});
</script>

<div class="container">
    <div class="row form-group">
        <div class="col-xs-12">
            <ul class="nav nav-pills nav-justified thumbnail setup-panel">
                <li class="active"><a href="#step-1">
                    <h4 class="list-group-item-heading">Adım 1</h4>
                    <p class="list-group-item-text">Kişisel Bilgileriniz</p>
                </a></li>
                <li class="disabled"><a href="#step-2">
                    <h4 class="list-group-iogrencicalismading">Adım 2</h4>
                    <p class="list-group-item-text">Yaptığınız Çalışmanın Kısa Açıklaması</p>
                </a></li>
                <li class="disabled"><a href="#step-3">
                    <h4 class="list-group-item-heading">Adım 3</h4>
                    <p class="list-group-item-text">Çalışmanızı Ekleyin</p>
                </a></li>
                <li class="disabled"><a href="#step-4">
                    <h4 class="list-group-item-heading">Adım 4</h4>
                    <p class="list-group-item-text">Kontrol Edin ve Bize Gönderin</p>
                </a></li>    
            </ul>
        </div>
    </div>
</div>	


<% unless notice  %>

<%= form_for @ogrencicalisma, url: { controller: "ogrenci", action: "ogrencicalisma"},  method: :post, html: {class: "container"} do |f|  %>

<div class="row setup-content" id="step-1">
    <div class="col-xs-12">
        <div class="col-md-12 well text-center">

            
<div class="container col-xs-12">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <table class="table table-bordered table-hover" id="tab_logic">
							<tr>
								<td style="vertical-align:middle;"><strong>Adınız</strong></td>
								<td><%= f.text_field :ad, class:"form-control", id: :ogrenci_ad, onchange: "bilgi()" %></td>
							</tr>
							<tr >
								<td style="vertical-align:middle;"><strong>Soyadınız</strong></td>
								<td><%= f.text_field :soyad, class:"form-control", id: :ogrenci_soyad, onchange: "bilgi()" %></td>
							</tr>
							<tr>
								<td style="vertical-align:middle;"><strong>E-Posta Adresiniz</strong></td>
								<td><%= f.text_field :email, class:"form-control", type:"email", id: :ogrenci_email, onchange: "bilgi()" %></td>
							</tr>
            </table>
        </div>
    </div>
</div>
            <button id="activate-step-2" class="btn btn-primary btn-md">İkinci Adıma Geç</button>
        </div>
    </div>
</div>

<div class="row setup-content" id="step-2">
    <div class="col-xs-12">
        <div class="col-md-12 well text-center">
					<h4 class="text-center">Yaptığınız Çalışma Hakkında Kısa Açıklama Yazısı Yazınız</h4>
					<table class="table table-bordered">
						<tr>
							<td><%= f.cktext_area :aciklama, class:"form-control", rows:10, id: :ogrenci_aciklama, ckeditor: {language: "tr", toolbar:"mini", onchange: "bilgi()"} %></textarea></td>
						</tr>
					</table>
            <button id="activate-step-3" class="btn btn-primary btn-md">Üçüncü Adıma Geç</button>
        </div>
    </div>
</div>

<div class="row setup-content" id="step-3">
    <div class="col-xs-12">
        <div class="col-md-12 well text-center">
					<h4 class="text-center">Çalışmanızı Ekleyin</h4>
					<table class="table table-bordered">
						<tr>
							<td><%= f.file_field :dosya, class:"form-control", id: "ogrenci_dosya", onchange: "bilgi()" %></td>
						</tr>
					</table>
            <button id="activate-step-4" class="btn btn-primary btn-md">Dördüncü Adıma Geç</button>
        </div>
    </div>
</div>

<div class="row setup-content" id="step-4">
    <div class="col-xs-12">
        <div class="col-md-12 well text-center">
            <h4 class="text-center">Bilgilerinizi Kontrol Ediniz</h4>
					<table class="table table-bordered">
						<tr>
							<td><strong>Adı:</strong></td>
							<td id="ad" ></td>
						</tr>
						<tr>
							<td><strong>Soyadı:</strong></td>
							<td id="soyad"></td>
						</tr>
						<tr>
							<td><strong>E-posta Adresi:</strong></td>
							<td id="email"></td>
						</tr>
						<tr>
							<td><strong>Çalışma Özeti:</strong></td>
							<td id="aciklama"></td>
						</tr>
						<tr>
							<td><strong>Çalışma Dosyası:</strong></td>
							<td id="dosya"></td>
						</tr>
						<tr>
							<td colspan=2><%= f.submit :Kaydet,  class: "btn btn-primary btn-block" %></td>
						</tr>
					</table>	
            
        </div>
    </div>
</div>

<% end %>         
<script charset="utf-8">
	var tds_aciklama = document.getElementById("aciklama");
	CKEDITOR.instances.ogrenci_aciklama.on('change', function () {
			tds_aciklama.innerHTML = CKEDITOR.instances.ogrenci_aciklama.getData();;
        });;
</script>


<script charset="utf-8">
function bilgi() {
	var tds_ad = document.getElementById("ad");
	var tds_soyad = document.getElementById("soyad");
	var tds_email = document.getElementById("email");
	var tds_dosya = document.getElementById("dosya");
	var ad = document.getElementById("ogrenci_ad").value;
	var soyad = document.getElementById("ogrenci_soyad").value;
	var email = document.getElementById("ogrenci_email").value;
	var dosya = document.getElementById("ogrenci_dosya").value;
	tds_ad.innerHTML = (ad);
	tds_soyad.innerHTML = (soyad);
	tds_email.innerHTML = (email);
	tds_dosya.innerHTML = (dosya);
}	
</script>

<% else %>
			<p><%= notice.html_safe %></p>
<% end %>
