<%= content_for :pagetitle do %>
	FenBahçem
<% end %>

<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
<!-- Indicators -->
<ol class="carousel-indicators">
  <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
  <li data-target="#carousel-example-generic" data-slide-to="1"></li>
  <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  <li data-target="#carousel-example-generic" data-slide-to="3"></li>
  <li data-target="#carousel-example-generic" data-slide-to="4"></li>
</ol>

<!-- Wrapper for slides -->
<div class="carousel-inner" role="listbox">
  <div class="item active">
		<%= image_tag "img1.png" %>
		<div class="carousel-caption">

    </div>
  </div>
  <div class="item">
    <%= image_tag "img2.jpg", style:"width:847px; height:424px;" %>
    <div class="carousel-caption">

    </div>
  </div>

  <div class="item">
    <%= image_tag "img3.jpg", style:"width:847px; height:424px;" %>
    <div class="carousel-caption">

    </div>
	</div>

  <div class="item">
    <%= image_tag "img4.jpg", style:"width:847px; height:424px;" %>
    <div class="carousel-caption">

    </div>
	</div>

  <div class="item">
    <%= image_tag "img5.jpg", style:"width:847px; height:424px;" %>
    <div class="carousel-caption">

    </div>
  </div>
</div>

<!-- Controls -->
<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
  <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
  <span class="sr-only">Previous</span>
</a>
<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
  <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
  <span class="sr-only">Next</span>
</a>
</div>

<div class="col-sm-6 col-md-6" style="padding:0px; margin-top:10px;">
	<div class="panel panel-info text-center">
		<div class="panel-heading" style="margin:0px;">
			<h3 style="margin-top:5px; margin-bottom:5px;">Duyuru</h3>
		</div>
		<marquee direction = "up" scrolldelay = "500" onmouseover="this.stop();" onmouseout="this.start();" style="height:250px">
			<% @duyuru.each do |d|  %>
				<span class="glyphicon glyphicon-asterisk" style="margin-left:5px;"></span><%= d.aciklama.html_safe %>
				<br />
			<% end %>
		</marquee>
	
	</div>
</div>	
<div class="col-sm-6 col-md-6" style="padding:0px; margin-top:10px;">
	<div class="panel panel-success text-center" style="margin-left:5px">
		<div class="panel-heading" style="margin:0px;">
			<h3 style="margin-top:5px; margin-bottom:5px;">Haberler</h3>
		</div>
		<marquee direction = "up" scrolldelay = "500" onmouseover="this.stop();" onmouseout="this.start();" style="height:250px">
			<% @haber.each do |h|  %>
				<span class="glyphicon glyphicon-asterisk" style="margin-left:5px;"></span><%= h.aciklama.html_safe %>
				<br />
			<% end %>
		</marquee>
	</div>
</div>
