<%= content_for :pagetitle do %>
	FenBahçem <%= @unite_konu %>
<% end %>
<h3 style="margin-top:0px"><%= @unite_konu %></h3>
<div class="panel panel-default">
	<div class="panel-heading"><h4 style="margin:0px;"><%= @konuanlatimi.konuadi %></h3></div>
	<div class="panel-body" style="padding:10px">
    <p style="margin-left:10px;margin-top:10px;"><%= @konuanlatimi.metin.html_safe %></p>
    <% if @konuanlatimi.dosya.exists? %> 
      <p style="margin-left:10px;margin-top:10px;"><%= link_to "Ekli Dosyayı İndirmek İçin Tıklayınız.", @konuanlatimi.dosya.url %></p>
    <% end %>
	</div>
	<div class="panel-footer"><b>Kavramlar:</b> <%= @konuanlatimi.kavram %></div>
</div>
