<%= content_for :pagetitle do %>
	FenBahçem <%= @unite_konu %>
<% end %>
<style>
	.clear {
		clear:both;    
	}
	.btn-info {
		margin-right:15px;
		text-transform:uppercase;
		padding:10px;
		display:block;
		float:left;
	}
	.btn-info a {
		display:block;
		text-decoration:none;
		width:100%;
		height:100%;
		color:#fff;
	}
	.more.label {
		float:right;    
	}
</style>
<div class="col-md-12">
	<h3 style="margin-top:0px;"><u><%= @unite_konu %> Alt Konuları</u></h3>
	<div class="span8">
	<% @konu.each do |k| %>
		<h4><%= k.konuadi %></h4>
		<p><%= k.metin.truncate(1000).html_safe %></p>
		<div>
			<div class="more label"><%= link_to "Konuyu incelemek için tıklayınız.", controller: "ogrenci", action: "konuanlatimi_incele", uniteadi: k.uniteadi, id: k.id %></div> 
			<div class="tags">
			<% k.kavram.split(",").each do |a| %>
				<span class="btn-info"><a href="#"><%= a %></a></span>
			<% end %>
			</div>    
		</div> 
		<div class="clear"></div>
		<hr>
	<% end %>
	</div>
</div>

	
	
