<style>
    .glyphicon { margin-right:10px;}
    .section-box h2 { margin-top:0px;}
    .section-box h2 a { font-size:15px; }
    .glyphicon-heart { color:#e74c3c;}
    .glyphicon-comment { color:#27ae60;}
    .separator { padding-right:5px;padding-left:5px; }
    .section-box hr {margin-top: 0;margin-bottom: 5px;border: 0;border-top: 1px solid rgb(199, 199, 199);}
</style>

<div class="col-md-12">
<h3 style="margin-top:0px"><%= @unitesinif %>. Sınıf Fen Bilimleri Üniteleri</h3>
<% @unite.each_with_index do |u, i|  %>
<div class="well well-sm">
	<div class="row">
        <div class="col-xs-3 col-md-3 text-center">
<!--					<img src="http://via.placeholder.com/180x114" alt="bootsnipp" class="img-rounded img-responsive" /> -->
					<%= image_tag u.uniteresmi.url(:thumb), class: "img-rounded img-responsive" %>
        </div>
        <div class="col-xs-9 col-md-9 section-box">
            <h4>
                <%= u.uniteadi %>
            </h4>
            <p><%= u.aciklama %></p>
            <hr />
            <div class="row rating-desc">
                <div class="col-md-12">
                    <span class="glyphicon glyphicon-heart"></span>(36)<span class="separator">|</span>
										<span class="glyphicon glyphicon-comment"></span>(100)<span class="pull-right">
										<%= link_to "Konuları Görüntüle", controller: "ogrenci", action: "unite_konu",sinif: u.sinif, uniteadi: u.uniteadi, id: u.id  %>
										</span>
                </div>
            </div>
				</div>
    </div>
</div>
<% end %>
</div>
