<style>
    .glyphicon { margin-right:10px;}
    .section-box h2 { margin-top:0px;}
    .section-box h2 a { font-size:15px; }
    .glyphicon-heart { color:#e74c3c;}
    .glyphicon-comment { color:#27ae60;}
    .separator { padding-right:5px;padding-left:5px; }
    .section-box hr {margin-top: 0;margin-bottom: 5px;border: 0;border-top: 1px solid rgb(199, 199, 199);}
</style>

<div class="col-md-12">
<h3 style="margin-top:0px"><%= @unitesinif %>. Sınıf Fen Bilimleri Üniteleri Yazılılar</h3>
<% @unite.each_with_index do |u, i|  %>
<div class="well well-sm">
	<div class="row">
        <div class="col-xs-3 col-md-3 text-center">
					<%= image_tag u.uniteresmi.url(:thumb), class: "img-rounded img-responsive" %>
        </div>
        <div class="col-xs-9 col-md-9 section-box">
            <h4>
                <%= u.uniteadi %>
						</h4>
						Yazılıları görüntülemek için üzerine tıklayınız.
						<table class="table table-striped">
							<% @yazili.each do |d|  %>
								<% if d.uniteadi == u.uniteadi %>
									<tr>
										<td><b><%= d.materyaladi %></b> <%= d.materyalaciklama.html_safe %><br><%= link_to "Yazılı Görüntüle", d.dosya.url, class: "btn btn-primary btn-block" %></td>
									</tr>
								<% end  %>
							<% end %>
						</table>
            <hr />
            <div class="row rating-desc">
                <div class="col-md-12">
                    <span class="glyphicon glyphicon-th-list"></span><%= Admin::Konuanlatimi.where(sinif: params[:sinif]).where(uniteadi: u.uniteadi).count %><span class="separator">|</span>
                    <span class="glyphicon glyphicon-hourglass"></span><%= sayac(params[:sinif], 1, u.uniteadi) %><span class="separator">|</span>
                    <span class="glyphicon glyphicon-check"></span><%= sayac(params[:sinif], 2, u.uniteadi) %><span class="separator">|</span>
                    <span class="glyphicon glyphicon-pencil"></span><%= sayac(params[:sinif], 3, u.uniteadi) %><span class="separator">|</span>
                    <span class="glyphicon glyphicon-file"></span><%= sayac(params[:sinif], 4, u.uniteadi) %><span class="separator">|</span>
                    <span class="glyphicon glyphicon-book"></span><%= sayac(params[:sinif], 5, u.uniteadi) %><span class="separator">|</span>
                    <span class="glyphicon glyphicon-road"></span><%= sayac(params[:sinif], 6, u.uniteadi) %><span class="separator">|</span>
                    <span class="glyphicon glyphicon-equalizer"></span><%= sayac(params[:sinif], 7, u.uniteadi) %><span class="separator">|</span>
                    <span class="glyphicon glyphicon-list-alt"></span><%= sayac(params[:sinif], 8, u.uniteadi) %><span class="separator">|</span>
                    <span class="glyphicon glyphicon-star"></span><%= sayac(params[:sinif], 9, u.uniteadi) %>
                </div>
            </div>
				</div>
    </div>
</div>
<% end %>
</div>
