<%= form_with(model: admin_konuanlatimi, local: true, html: {multipart: true}) do |form| %>
  <% if admin_konuanlatimi.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(admin_konuanlatimi.errors.count, "error") %> prohibited this admin_konuanlatimi from being saved:</h2>

      <ul>
      <% admin_konuanlatimi.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<table class="table table-striped">
		<tr>
			<td>Sınıf</td>
			<td><%= form.select  :sinif, options_for_select([["5. Sınıf", 5], ["6. Sınıf", 6], ["7. Sınıf", 7],["8. Sınıf", 8]]),{}, id: :admin_konuanlatimi_sinif, class: "form-control" %></td>
		</tr>
		<tr>
			<td>Ünite ID</td>
			<td><%= form.select :unite_id, options_for_select(Admin::Unite.all.map { |u| [u.uniteadi, u.id]}),{}, id: :admin_konuanlatimi_sinif, class: "form-control" %></td>
		</tr>
		<tr>
			<td>Ünite</td>
			<td><%= form.text_field :uniteadi, id: :admin_konuanlatimi_uniteadi, class: "form-control"  %></td>
		</tr>
		<tr>
			<td>Konu Adı</td>
			<td><%= form.text_field :konuadi, id: :admin_konuanlatimi_konuadi, class: "form-control" %></td>
		</tr>
		<tr>
			<td>Kavram</td>
			<td><%= form.text_field :kavram, id: :admin_konuanlatimi_kavram, class: "form-control" %></td>
		</tr>
		<tr>
			<td>Metin</td>
			<td><%= form.cktext_area :metin, id: :admin_konuanlatimi_metin, ckeditor: { language: 'tr'}	%></td>
		</tr>
		<tr>
			<td>Dosya</td>
    	<td><%= form.file_field :dosya, id: :admin_konuanlatimi_dosya, class: "form-control" %></td>
		</tr>
		<tr>
			<td colspan=2><%= form.submit :Kaydet,  class: "btn btn-primary btn-block" %></td>
		</tr>	
	</table>
<% end %>
