<%= form_with(model: admin_konuanlatimi, local: true, html: {multipart: true}) do |form| %>
  <% if admin_konuanlatimi.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(admin_konuanlatimi.errors.count, "error") %> prohibited this admin_konuanlatimi from being saved:</h2>

      <ul>
      <% admin_konuanlatimi.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :sinif %>
    <%= form.number_field :sinif, id: :admin_konuanlatimi_sinif %>
  </div>

  <div class="field">
    <%= form.label :uniteadi %>
    <%= form.text_field :uniteadi, id: :admin_konuanlatimi_uniteadi %>
	</div>

  <div class="field">
    <%= form.label :konuadi %>
    <%= form.text_field :konuadi, id: :admin_konuanlatimi_konuadi %>
  </div>

  <div class="field">
    <%= form.label :kavram %>
    <%= form.text_field :kavram, id: :admin_konuanlatimi_kavram %>
  </div>

  <div class="field">
    <%= form.label :metin %>
		<%= form.cktext_area :metin, id: :admin_konuanlatimi_metin, ckeditor: { language: 'tr'}	%>
  </div>

  <div class="field">
    <%= form.label :dosya %>
    <%= form.file_field :dosya, id: :admin_konuanlatimi_dosya %>
  </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
