<p id="notice"><%= notice %></p>

<% content_for :title do %>
	<h4 style="margin:0px;">Konu Anlatımı Liste</h4>
<% end %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Sınıf</th>
      <th>Ünite Adı</th>
      <th>Konu Adı</th>
      <th>Metin</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_konuanlatimis.each do |admin_konuanlatimi| %>
      <tr>
        <td><%= admin_konuanlatimi.sinif %></td>
        <td><%= admin_konuanlatimi.uniteadi %></td>
        <td><%= admin_konuanlatimi.konuadi %></td>
        <td><%= admin_konuanlatimi.metin.truncate(500) %></td>
        <td><%= link_to 'Görüntüle', admin_konuanlatimi %></td>
        <td><%= link_to 'Düzenle', edit_admin_konuanlatimi_path(admin_konuanlatimi) %></td>
        <td><%= link_to 'Sil', admin_konuanlatimi, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
