<p id="notice"><%= notice %></p>

<%= content_for :title do %>
	<h4 style="margin:0px;">Konu Görüntüle</h4>
<% end %>

<table class="table table-striped">
	<tr>
		<td><strong>Sınıf:</strong></td>
		<td><%= @admin_konuanlatimi.sinif %></td>
	</tr>
	<tr>
		<td><strong>Ünite Adı:</strong></td>
		<td><%= @admin_konuanlatimi.uniteadi %></td>
	</tr>
	<tr>
		<td><strong>Konu Adı:</strong></td>
		<td><%= @admin_konuanlatimi.konuadi %></td>
	</tr>
	<tr>
		<td><strong>Kavram:</strong></td>
		<td><%= @admin_konuanlatimi.kavram %></td>
	</tr>
	<tr>
		<td><strong>Metin:</strong></td>
		<td><%= @admin_konuanlatimi.metin.html_safe %></td>
	</tr>
	<tr>
		<td><strong>Dosya:</strong></td>
		<td><%= @admin_konuanlatimi.dosya.url %></td>
	</tr>
</table>
