<% if notice %>
	<p class="alert alert-success" id="notice"><%= notice %></p>
<% end %>

<% content_for :title do %>
	<h4 style="margin:0px;">Ünite Listesi</h4>
<% end %>

<table class="table table-striped">
  <thead>
		<tr>
			<th>Sınıf</th>
      <th>Ünite Adı</th>
			<th>Ünite Açıklama</th>
			<th>Ünite Resmi</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_unites.each do |admin_unite| %>
			<tr>
				<td><%= admin_unite.sinif %></td>
        <td><%= admin_unite.uniteadi %></td>
        <td><%= admin_unite.aciklama %></td>
				<td><%= image_tag admin_unite.uniteresmi.url(:thumb), class: "img-rounded img-responsive" %></td>
        <td><%= link_to 'Görüntüle', admin_unite %></td>
        <td><%= link_to 'Düzenle', edit_admin_unite_path(admin_unite) %></td>
        <td><%= link_to 'Sil', admin_unite, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
