<% if notice %>
	<p class="alert alert-success" id="notice"><%= notice %></p>
<% end %>

<%= content_for :title do %>
	<h4 style="margin:0px;">Ünite Görüntüle</h4>
<% end %>

<table class="table table-striped">
	<tr>
		<td><strong>Sınıf:</strong></td>
		<td><%= @admin_unite.sinif %></td>
	</tr>
	<tr>
		<td><strong>Ünite Adı:</strong></td>
		<td><%= @admin_unite.uniteadi %></td>
	</tr>
	<tr>
		<td><strong>Açıklama:</strong></td>
		<td><%= @admin_unite.aciklama %></td>
	</tr>
	<tr>
		<td><strong>Ünite Resmi:</strong></td>
		<td><%= image_tag @admin_unite.uniteresmi.url(:thumb) %></td>
	</tr>
</table>
<%= link_to "Ünite Listesine Geri Git", admin_unites_path %>
