<p id="notice"><%= notice %></p>

<%= content_for :title do %>
	<h4 style="margin:0px;">Ünite Görüntüle</h4>
<% end %>

<table class="table table-striped">
	<tr>
		<td><strong>Unite Adı:</strong></td>
		<td><%= @admin_unite.uniteadi %></td>
	</tr>
	<tr>
		<td><strong>Açıklama:</strong></td>
		<td><%= @admin_unite.aciklama %></td>
	</tr>
	<tr>
		<td><strong>Ünite Resmi:</strong></td>
		<td><%= image_tag @admin_unite.uniteresmi.url(:thumb) %></td>
	</tr>
</table>
