<p id="notice"><%= notice %></p>

<p>
  <strong>Uniteadi:</strong>
  <%= @admin_unite.uniteadi %>
</p>

<p>
  <strong>Aciklama:</strong>
  <%= @admin_unite.aciklama %>
</p>

<%= link_to 'Edit', edit_admin_unite_path(@admin_unite) %> |
<%= link_to 'Back', admin_unites_path %>
