<%= form_with(model: admin_deneme, local: true) do |form| %>
  <% if admin_deneme.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(admin_deneme.errors.count, "error") %> prohibited this admin_deneme from being saved:</h2>

      <ul>
      <% admin_deneme.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<table class="table table-striped">
		<tr>
			<td>Sınıf</td>
			<td><%= form.select  :sinif, options_for_select([["5. Sınıf", 5], ["6. Sınıf", 6], ["7. Sınıf", 7],["8. Sınıf", 8]]),{}, id: :admin_deneme_sinif, class: "form-control" %></td>
		</tr>
		<tr>
			<td>Ünite Adı</td>
			<td><%= form.text_field :uniteadi, id: :admin_deneme_uniteadi, class: "form-control" %></td>
		</tr>
		<tr>
			<td>Deneme Adı</td>
			<td><%= form.text_field :denemeadi, id: :admin_deneme_denemeadi, class: "form-control" %></td>
		</tr>
		<tr>
			<td>Açıklama</td>
			<td><%= form.cktext_area :aciklama, id: :admin_deneme_aciklama, ckeditor: { language: 'tr' } %></td>
		</tr>
		<tr>
			<td>Dosya</td>
			<td><%= form.file_field :dosya, id: :admin_deneme_dosya, class: "form-control" %></td>
		</tr>
		<tr>
			<td colspan=2><%= form.submit :Kaydet,  class: "btn btn-primary btn-block" %></td>
		</tr>	
	</table>
<% end %>
