<p id="notice"><%= notice %></p>

<% content_for :title do %>
	<h4 style="margin:0px;">Deneme Liste</h4>
<% end %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Sınıf</th>
      <th>Ünite Adı</th>
      <th>Deneme Adı</th>
      <th>Açıklama</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_denemes.each do |admin_deneme| %>
      <tr>
        <td><%= admin_deneme.sinif %></td>
        <td><%= admin_deneme.uniteadi %></td>
        <td><%= admin_deneme.denemeadi %></td>
        <td><%= admin_deneme.aciklama %></td>
        <td><%= link_to 'Görüntüle', admin_deneme %></td>
        <td><%= link_to 'Düzenle', edit_admin_deneme_path(admin_deneme) %></td>
        <td><%= link_to 'Sil', admin_deneme, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
