<% @materyaltur = { 1 => "Yaprak Testler", 2 => "Deneme Sınavları", 3 => "Yazılılar", 4 =>  "Çalışma Kağıtları", 5 => "Çıkmış Sınav Soruları", 6 => "Kazanımlar", 7 => "Yıllık Plan", 8 => "Günlük Plan", 9 => "BEP" } %>	
<% if notice %>
	<p class="alert alert-success" id="notice"><%= notice %></p>
<% end %>

<%= content_for :title do %>
	<h4 style="margin:0px;"><%= params[:title] %></h4>
<% end %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Sınıf</th>
      <th>Ünite Adı</th>
      <th>Materyal Türü</th>
      <th>Materyal Adı</th>
      <th>Materyal Açıklama</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_materyals.each do |admin_materyal| %>
      <tr>
        <td><%= admin_materyal.sinif %></td>
        <td><%= Admin::Unite.find(admin_materyal.unite_id).uniteadi %></td>
        <td><%= @materyaltur[admin_materyal.materyaltur] %></td>
        <td><%= admin_materyal.materyaladi %></td>
        <td><%= admin_materyal.materyalaciklama %></td>
        <td><%= link_to 'Görüntüle', admin_materyal %></td>
        <td><%= link_to 'Düzenle', edit_admin_materyal_path(admin_materyal) %></td>
        <td><%= link_to 'Sil', admin_materyal, method: :delete, data: { confirm: 'Silmek istediğinize eminmisiniz?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
