<% @materyaltur = { 1 => "Yaprak Testler", 2 => "Deneme Sınavları", 3 => "Yazılılar", 4 =>  "Çalışma Kağıtları", 5 => "Çıkmış Sınav Soruları", 6 => "Kazanımlar", 7 => "Yıllık Plan", 8 => "Günlük Plan", 9 => "BEP" } %>	
<%	@materyalturlink = { 1 => "yapraktest", 2 => "denemesinavlari", 3 => "yazililar", 4 =>  "calismakagitlari", 5 => "cikmissinavsorulari", 6 => "kazanimlar", 7 => "yillikplan", 8 => "gunlukplan", 9 => "bep" }
%>
<% if notice %>
	<p class="alert alert-success" id="notice"><%= notice %></p>
<% end %>

<%= content_for :title do %>
	<h4 style="margin:0px;">Materyal Görüntüle</h4>	
<% end %>

<table class="table table-striped">
	<tr>
		<td><strong>Sınıf:</strong></td>
		<td><%= @admin_materyal.sinif %></td>
	</tr>
	<tr>
		<td><strong>Ünite Adı:</strong></td>
		<td><%= Admin::Unite.find(@admin_materyal.unite_id).uniteadi %></td>
	</tr>
	<tr>
		<td><strong>Materyal Türü:</strong></td>
		<td><%= @materyaltur[@admin_materyal.materyaltur] %></td>
	</tr>
	<tr>
		<td><strong>Materyal Adı:</strong></td>
		<td><%= @admin_materyal.materyaladi %></td>
	</tr>
	<tr>
		<td><strong>Açıklama:</strong></td>
		<td><%= @admin_materyal.materyalaciklama %></td>
	</tr>
	<tr>
		<td><strong>Ek:</strong></td>
		<td><%= link_to "Dosya Görüntüle", @admin_materyal.dosya.url %></td>
	</tr>
</table>
<%= link_to "#{@materyaltur[@admin_materyal.materyaltur]} Listesine Geri Git", "/admin/#{@materyalturlink[@admin_materyal.materyaltur]}" %>
