<p id="notice"><%= notice %></p>

<p>
  <strong>Sinif:</strong>
  <%= @admin_materyal.sinif %>
</p>

<p>
  <strong>Uniteadi:</strong>
  <%= @admin_materyal.uniteadi %>
</p>

<p>
  <strong>Materyaltur:</strong>
  <%= @admin_materyal.materyaltur %>
</p>

<p>
  <strong>Materyaladi:</strong>
  <%= @admin_materyal.materyaladi %>
</p>

<p>
  <strong>Materyalaciklama:</strong>
  <%= @admin_materyal.materyalaciklama %>
</p>

<%= link_to 'Edit', edit_admin_materyal_path(@admin_materyal) %> |
<%= link_to 'Back', admin_materyals_path %>
