<!DOCTYPE html>
<html>
  <head>
    <title><%= yield :pagetitle %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="keywords" content="fen, fen bilgisi, fenbahçem, konu anlatımı, deneme, yazılı, çıkmış sınav soruları, çalışma kağıtları, bep, yıllık plan, günlük plan, kazanımlar, bilim fuarı, bilim insanı, deney, bulmaca, video, deney videoları, resim, resim galerisi, yaprak testler, ilginç bilgiler, resmi evraklar, rehberlik, motivasyon, sınav sistemi" />
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>    
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	  <% if Rails.env.production? %>
	    <script type="text/javascript">
	      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
	      ga('create', 'UA-109333594-1', 'auto');
			</script>
			<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
			<script>
			  (adsbygoogle = window.adsbygoogle || []).push({
				google_ad_client: "ca-pub-2249671089197790",
				enable_page_level_ads: true
			  });
			</script>
		<script>(function(d, s, id) {
		  var js, fjs = d.getElementsByTagName(s)[0];
		  if (d.getElementById(id)) return;
		  js = d.createElement(s); js.id = id;
		  js.src = 'https://connect.facebook.net/tr_TR/sdk.js#xfbml=1&version=v2.11';
		  fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));</script>
	  <% end %>
	</head>

  <body>
		<style>
		body{
			margin-top:50px;
			padding-top: 50px;}
		.glyphicon { margin-right:10px; }
		.panel-body { padding:0px; }
		.panel-body table tr td { padding-left: 15px }
		.panel-body .table {margin-bottom: 0px; }
		.footer1 {
			background: #fff repeat scroll left top;
			margin-top: 100px;
			padding-top: 40px;
			padding-right: 0;
			padding-bottom: 20px;
			padding-left: 0;/*	border-top-width: 4px;
			border-top-style: solid;
			border-top-color: #003;*/
		}

		.title-widget {
			color: #898989;
			font-size: 20px;
			font-weight: 300;
			line-height: 1;
			position: relative;
			text-transform: uppercase;
			font-family: 'Fjalla One', sans-serif;
			margin-top: 0;
			margin-right: 0;
			margin-bottom: 25px;
			margin-left: 0;
			padding-left: 28px;
		}
		
		.title-widget::before {
			background-color: #ea5644;
			content: "";
			height: 22px;
			left: 0px;
			position: absolute;
			top: -2px;
			width: 5px;
		}
		
		
		
		.widget_nav_menu ul {
			list-style: outside none none;
			padding-left: 0;
		}
		
		.widget_archive ul li {
			background-color: rgba(0, 0, 0, 0.3);
			content: "";
			height: 3px;
			left: 0;
			position: absolute;
			top: 7px;
			width: 3px;
		}
		
		
		.widget_nav_menu ul li {
			font-size: 13px;
			font-weight: 700;
			line-height: 10px;
			position: relative;
			text-transform: uppercase;
			border-bottom: 1px solid rgba(0, 0, 0, 0.05);
			margin-bottom: 7px;
			padding-bottom: 7px;
			width:95%;
		}
		
		
		
		.title-median {
			color: #636363;
			font-size: 20px;
			line-height: 20px;
			margin: 0 0 15px;
			text-transform: uppercase;
			font-family: 'Fjalla One', sans-serif;
		}
		
		.footerp p {font-family: 'Gudea', sans-serif; }
		
		
		#social:hover {
						-webkit-transform:scale(1.1); 
		-moz-transform:scale(1.1); 
		-o-transform:scale(1.1); 
					}
					#social {
						-webkit-transform:scale(0.8);
						/* Browser Variations: */
		-moz-transform:scale(0.8);
		-o-transform:scale(0.8); 
		-webkit-transition-duration: 0.5s; 
		-moz-transition-duration: 0.5s;
		-o-transition-duration: 0.5s;
					}           
		/* 
			Only Needed in Multi-Coloured Variation 
													   */
					.social-fb:hover {
						color: #3B5998;
					}
					.social-tw:hover {
						color: #4099FF;
					}
					.social-gp:hover {
						color: #d34836;
					}
					.social-em:hover {
						color: #f39c12;
					}
					.nomargin { margin:0px; padding:0px;}
		
		
		
		
		
		.footer-bottom {
			background-color: #15224f;
			min-height: 30px;
			width: 100%;
		}
		.copyright {
			color: #fff;
			line-height: 30px;
			min-height: 30px;
			padding: 7px 0;
		}
		.design {
			color: #fff;
			line-height: 30px;
			min-height: 30px;
			padding: 7px 0;
			text-align: right;
		}
		.design a {
			color: #fff;
		}

		a.button {
			font-size: 16px;
			text-align: left;
			font-weight: 500;
		}
		</style>

		<!-- Fixed navbar -->
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="/">FenBahçem</a>
				</div>
				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
						<li><a href="/">Anasayfa</a></li>
						<li><a href="/fotogaleri">Foto Galeri</a></li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Videolar<span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a href="/deneyvideolari">Deney Videoları</a></li>
								<li><a href="/digervideolar">Diğer Videolar</a></li>
<!--                           <li><a href="#">Something else here</a></li>
								<li role="separator" class="divider"></li>
								<li class="dropdown-header">Nav header</li>
								<li><a href="#">Separated link</a></li>
								<li><a href="#">One more separated link</a></li> -->
							</ul>
						</li>
						<li><a href="/bilimfuari">Bilim Fuarı</a></li>
						<li class="dropdown">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Faydalı Bilgiler<span class="caret"></span></a>
									<ul class="dropdown-menu">
										<li><a href="/biliminsanlari">Bilim İnsanları</a></li>
										<li><a href="/resmievraklar">Resmi Evraklar</a></li>
										<li><a href="/ilgincbilgiler">İlginç Bilgiler</a></li>
									</ul>
								</li>
								<li class="dropdown">
											<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Rehberlik<span class="caret"></span></a>
											<ul class="dropdown-menu">
												<li><a href="/motivasyon">Motivasyon</a></li>
												<li><a href="/sinavsistemi">Sınav Sistemi</a></li>
											</ul>
									</li>

									<!--<li><a href="#about">Öneri ve Şikayet Kutusu</a></li>-->
					</ul>
					<ul class="nav navbar-nav navbar-right">
									<form class="navbar-form navbar-right">
										<input type="text" class="form-control" placeholder="Search...">
										<button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
									</form>
					</ul>

				</div>
			</div>
		</nav>
		
		<% if params[:sinif] == 5 %>
			<% @in5 = "in" %>
		<% elsif params[:sinif] == 6 %>
			<% @in6 = "in" %>
			
		<% elsif params[:sinif] == 7 %>
			<% @in7 = "in" %>

		<% elsif params[:sinif] == 8 %>
			<% @in8 = "in" %>
				
		<% end %>

		<div id="fb-root"></div>
		
		<div class="container">
			<div class="row">
					<div class="col-sm-3 col-md-3">
							<div class="panel-group" id="accordion">
									<div class="panel panel-default">
											<div class="panel-heading">
													<h4 class="panel-title">
															<a class="btn btn-block button"data-toggle="collapse" data-parent="#accordion" href="#collapseOne" style="box-shadow: none;"><span class="glyphicon glyphicon-education">
															</span>5. Sınıf</a>
													</h4>
											</div>
											<div id="collapseOne" class="panel-collapse collapse <%= @in5 %>">
													<div class="panel-body">
															<table class="table">
																	<tr>
																			<td>
																					<span class="glyphicon glyphicon-th-list text-primary"></span><a href="/sinif5/konuanlatimi">Konu Anlatımı</a>
																			</td>
																	</tr>
																	<tr>
																			<td>
																					<span class="glyphicon glyphicon-hourglass text-success"></span><a href="/sinif5/yapraktest">Yaprak Testler</a>
																			</td>
																	</tr>
																	<tr>
																			<td>
																				<span class="glyphicon glyphicon-check text-info"></span><a href="/sinif5/deneme">Deneme Sınavları</a>
																			</td>
																	</tr>
																	<tr>
																			<td>
																					<span class="glyphicon glyphicon-pencil text-success"></span><a href="/sinif5/yazili">Yazılılar</a>
																			</td>
																	</tr>
																	<tr>
																			<td>
																					<span class="glyphicon glyphicon-file text-info"></span><a href="/sinif5/calismakagitlari">Çalışma Kağıtları</a>
																			</td>
																	</tr>
																	<tr>
																			<td>
																					<span class="glyphicon glyphicon-book text-info"></span><a href="/sinif5/cikmissinavsorulari">Çıkmış Sınav Soruları</a>
																			</td>
																	</tr>
																	<tr>
																			<td>
																					<span class="glyphicon glyphicon-road text-info"></span><a href="/sinif5/kazanimlar">Kazanımlar</a>
																			</td>
																	</tr>
																	<tr>
																			<td>
																					<span class="glyphicon glyphicon-equalizer text-info"></span><a href="/sinif5/yillikplan">Yıllık Plan</a>
																			</td>
																	</tr>
																	<tr>
																			<td>
																					<span class="glyphicon glyphicon-list-alt text-info"></span><a href="/sinif5/gunlukplan">Günlük Plan</a>
																			</td>
																	</tr>
																	<tr>
																			<td>
																					<span class="glyphicon glyphicon-star text-info"></span><a href="/sinif5/BEP">BEP</a>
																			</td>
																	</tr>
															</table>
													</div>
											</div>
									</div>
									<div class="panel panel-default">
											<div class="panel-heading">
													<h4 class="panel-title">
															<a class="btn btn-block button" style="box-shadow: none;" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"><span class="glyphicon glyphicon-education">
															</span>6. Sınıf</a>
													</h4>
											</div>
											<div id="collapseTwo" class="panel-collapse collapse <%= @in6 %>">
													<div class="panel-body">
																	<table class="table">
																					<tr>
																							<td>
																									<span class="glyphicon glyphicon-th-list text-primary"></span><a href="/sinif6/konuanlatimi">Konu Anlatımı</a>
																							</td>
																					</tr>
																					<tr>
																							<td>
																									<span class="glyphicon glyphicon-hourglass text-success"></span><a href="/sinif6/yapraktest">Yaprak Testler</a>
																							</td>
																					</tr>
																					<tr>
																							<td>
																									<span class="glyphicon glyphicon-check text-info"></span><a href="/sinif6/deneme">Deneme Sınavları</a>
																							</td>
																					</tr>
																					<tr>
																							<td>
																									<span class="glyphicon glyphicon-pencil text-success"></span><a href="/sinif6/yazili">Yazılılar</a>
																							</td>
																					</tr>
																					<tr>
																							<td>
																									<span class="glyphicon glyphicon-file text-info"></span><a href="/sinif6/calismakagitlari">Çalışma Kağıtları</a>
																							</td>
																					</tr>
																					<tr>
																							<td>
																									<span class="glyphicon glyphicon-book text-info"></span><a href="/sinif6/cikmissinavsorulari">Çıkmış Sınav Soruları</a>
																							</td>
																					</tr>
																					<tr>
																							<td>
																									<span class="glyphicon glyphicon-road text-info"></span><a href="/sinif6/kazanimlar">Kazanımlar</a>
																							</td>
																					</tr>
																					<tr>
																							<td>
																									<span class="glyphicon glyphicon-equalizer text-info"></span><a href="/sinif6/yillikplan">Yıllık Plan</a>
																							</td>
																					</tr>
																					<tr>
																							<td>
																									<span class="glyphicon glyphicon-list-alt text-info"></span><a href="/sinif6/gunlukplan">Günlük Plan</a>
																							</td>
																					</tr>
																					<tr>
																							<td>
																									<span class="glyphicon glyphicon-star text-info"></span><a href="/sinif6/BEP">BEP</a>
																							</td>
																					</tr>
																	</table>
													</div>
											</div>
									</div>
									<div class="panel panel-default">
											<div class="panel-heading">
													<h4 class="panel-title">
															<a class="btn btn-block button" style="box-shadow: none;" data-toggle="collapse" data-parent="#accordion" href="#collapseThree"><span class="glyphicon glyphicon-education">
															</span>7. Sınıf</a>
													</h4>
											</div>
											<div id="collapseThree" class="panel-collapse collapse <%= @in7 %>">
													<div class="panel-body">
																	<table class="table">
																					<tr>
																							<td>
																									<span class="glyphicon glyphicon-th-list text-primary"></span><a href="/sinif7/konuanlatimi">Konu Anlatımı</a>
																							</td>
																					</tr>
																					<tr>
																							<td>
																									<span class="glyphicon glyphicon-hourglass text-success"></span><a href="/sinif7/yapraktest">Yaprak Testler</a>
																							</td>
																					</tr>
																					<tr>
																							<td>
																									<span class="glyphicon glyphicon-check text-info"></span><a href="/sinif7/deneme">Deneme Sınavları</a>
																							</td>
																					</tr>
																					<tr>
																							<td>
																									<span class="glyphicon glyphicon-pencil text-success"></span><a href="/sinif7/yazili">Yazılılar</a>
																							</td>
																					</tr>
																					<tr>
																							<td>
																									<span class="glyphicon glyphicon-file text-info"></span><a href="/sinif7/calismakagitlari">Çalışma Kağıtları</a>
																							</td>
																					</tr>
																					<tr>
																							<td>
																									<span class="glyphicon glyphicon-book text-info"></span><a href="/sinif7/cikmissinavsorulari">Çıkmış Sınav Soruları</a>
																							</td>
																					</tr>
																					<tr>
																							<td>
																									<span class="glyphicon glyphicon-road text-info"></span><a href="/sinif7/kazanimlar">Kazanımlar</a>
																							</td>
																					</tr>
																					<tr>
																							<td>
																									<span class="glyphicon glyphicon-equalizer text-info"></span><a href="/sinif7/yillikplan">Yıllık Plan</a>
																							</td>
																					</tr>
																					<tr>
																							<td>
																									<span class="glyphicon glyphicon-list-alt text-info"></span><a href="/sinif7/gunlukplan">Günlük Plan</a>
																							</td>
																					</tr>
																					<tr>
																							<td>
																									<span class="glyphicon glyphicon-star text-info"></span><a href="/sinif7/BEP">BEP</a>
																							</td>
																					</tr>
																			</table>
													</div>
											</div>
									</div>
									<div class="panel panel-default">
											<div class="panel-heading">
													<h4 class="panel-title">
															<a class="btn btn-block button" style="box-shadow: none;" data-toggle="collapse" data-parent="#accordion" href="#collapseFour"><span class="glyphicon glyphicon-education">
															</span>8. Sınıf</a>
													</h4>
											</div>
											<div id="collapseFour" class="panel-collapse collapse <%= @in8 %>">
													<div class="panel-body">
																	<table class="table">
																					<tr>
																							<td>
																									<span class="glyphicon glyphicon-th-list text-primary"></span><a href="/sinif8/konuanlatimi">Konu Anlatımı</a>
																							</td>
																					</tr>
																					<tr>
																							<td>
																									<span class="glyphicon glyphicon-hourglass text-success"></span><a href="/sinif8/yapraktest">Yaprak Testler</a>
																							</td>
																					</tr>
																					<tr>
																							<td>
																									<span class="glyphicon glyphicon-check text-info"></span><a href="/sinif8/deneme">Deneme Sınavları</a>
																							</td>
																					</tr>
																					<tr>
																							<td>
																									<span class="glyphicon glyphicon-pencil text-success"></span><a href="/sinif8/yazili">Yazılılar</a>
																							</td>
																					</tr>
																					<tr>
																							<td>
																									<span class="glyphicon glyphicon-file text-info"></span><a href="/sinif8/calismakagitlari">Çalışma Kağıtları</a>
																							</td>
																					</tr>
																					<tr>
																							<td>
																									<span class="glyphicon glyphicon-book text-info"></span><a href="/sinif8/cikmissinavsorulari">Çıkmış Sınav Soruları</a>
																							</td>
																					</tr>
																					<tr>
																							<td>
																									<span class="glyphicon glyphicon-road text-info"></span><a href="/sinif8/kazanimlar">Kazanımlar</a>
																							</td>
																					</tr>
																					<tr>
																							<td>
																									<span class="glyphicon glyphicon-equalizer text-info"></span><a href="/sinif8/yillikplan">Yıllık Plan</a>
																							</td>
																					</tr>
																					<tr>
																							<td>
																									<span class="glyphicon glyphicon-list-alt text-info"></span><a href="/sinif8/gunlukplan">Günlük Plan</a>
																							</td>
																					</tr>
																					<tr>
																							<td>
																									<span class="glyphicon glyphicon-star text-info"></span><a href="/sinif8/BEP">BEP</a>
																							</td>
																					</tr>
																			</table>
													</div>
											</div>

									</div>
									
									<div class="panel panel-default">
											<div class="panel-heading">
													<h4 class="panel-title"><a class="btn btn-block button" style="box-shadow: none; height:80px; line-height:4;"  href="/gonderinyayinlayalim"><span class="glyphicon glyphicon-cloud-upload"></span>Gönderin Yayınlayalım</a></h4>
											</div>
									</div>
									
									<div class="panel panel-default">
											<div class="panel-heading">
													<h4 class="panel-title"><a class="btn btn-block button" style="box-shadow: none; height:80px; line-height:4;"  href="/onerivesikayet"><span class="glyphicon glyphicon-thumbs-up"></span>Öneri ve Şikayet Kutusu</a></h4>
											</div>
									</div>

									<div class="panel panel-default">
										<div class="fb-page" data-href="https://www.facebook.com/FenBahcem" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/FenBahcem" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/FenBahcem">FenBahcem.com</a></blockquote></div>
									</div>

							</div>
					</div>

					<div class="col-sm-9 col-md-9">
						<%= yield %>
					</div>
			</div>
		</div>

		<footer class="footer1">
		<div class="container">
		
		<div class="row"><!-- row -->
					
						<div class="col-lg-3 col-md-3"><!-- widgets column left -->
						<ul class="list-unstyled clear-margins"><!-- widgets -->
								
									<li class="widget-container widget_nav_menu"><!-- widgets list -->
							
										<h1 class="title-widget">Hızlı Erİşİm</h1>
										
										<ul>
											<li><a  href="#"><i class="fa fa-angle-double-right"></i> Bağlantı</a></li>
											<li><a  href="#"><i class="fa fa-angle-double-right"></i> Bağlantı</a></li>
											<li><a  href="#"><i class="fa fa-angle-double-right"></i> Bağlantı</a></li>
											<li><a  href="#"><i class="fa fa-angle-double-right"></i> Bağlantı</a></li>
										</ul>
							
									</li>
									
								</ul>
								 
							  
						</div><!-- widgets column left end -->
						
						
						
						<div class="col-lg-3 col-md-3"><!-- widgets column left -->
					
						<ul class="list-unstyled clear-margins"><!-- widgets -->
								
									<li class="widget-container widget_nav_menu"><!-- widgets list -->
							
										<h1 class="title-widget">Hızlı Erİşİm</h1>
										
										<ul>
											<li><a  href="#"><i class="fa fa-angle-double-right"></i> Bağlantı</a></li>
											<li><a  href="#"><i class="fa fa-angle-double-right"></i> Bağlantı</a></li>
											<li><a  href="#"><i class="fa fa-angle-double-right"></i> Bağlantı</a></li>
											<li><a  href="#"><i class="fa fa-angle-double-right"></i> Bağlantı</a></li>
										</ul>
							
									</li>
									
								</ul>
								 
							  
						</div><!-- widgets column left end -->
									
						<div class="col-lg-3 col-md-3"><!-- widgets column left -->
						<ul class="list-unstyled clear-margins"><!-- widgets -->
									<li class="widget-container widget_nav_menu"><!-- widgets list -->
										<h1 class="title-widget">Faydalı Lİnkler</h1>
										<ul>
											<li><a  href="#"><i class="fa fa-angle-double-right"></i> Bağlantı</a></li>
											<li><a  href="#"><i class="fa fa-angle-double-right"></i> Bağlantı</a></li>
											<li><a  href="#"><i class="fa fa-angle-double-right"></i> Bağlantı</a></li>
											<li><a  href="#"><i class="fa fa-angle-double-right"></i> Bağlantı</a></li>
										</ul>
									</li>
								</ul>
						</div><!-- widgets column left end -->
						
						
						<div class="col-lg-3 col-md-3"><!-- widgets column center -->
								<ul class="list-unstyled clear-margins"><!-- widgets -->
									<li class="widget-container widget_recent_news"><!-- widgets list -->
										<h1 class="title-widget">İletİşİm Bİlgİlerİ </h1>	
										<div class="footerp"> 
											<!--<p><i class="fa fa-facebook-official" style="font-size:24px; padding-right:5px;"></i>Facebook</p>
											<p><i class="fa fa-twitter-square" style="font-size:24px; padding-right:5px;"></i>Twitter</p>
											<p><i class="fa fa-instagram" style="font-size:24px; padding-right:5px;"></i>Instagram</p>
											<p><i class="fa fa-google-plus-official" style="font-size:24px; padding-right:5px;"></i>Google Plus</p>-->
										</div>
									</li>
								  </ul>
							   </div>
						</div>
		</div>
		</footer>
		<!--header-->
		
		<div class="footer-bottom">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
						<div class="copyright">
							© 2017, Fenbahçem, Tüm hakları saklıdır.
						</div>
					</div>
		
					<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
						<div class="design">
							 <a href="#">2017</a> |  <a target="_blank" href="http://alidasbasi.com">Web Tasarım & Programlama</a>
						</div>
					</div>
				</div>
			</div>	
		</div>
  </body>
</html>
